@import "base";

h2.node-title {display:none;}

.webcomic-title { 
  color: #bababa;
  font-size: 1.5em;
  text-decoration: none;
}

.item-list {
  margin-top: 15px;

  .pager {
    padding: 0;
    margin: 0 17%;
    text-align: left;
  }
}

.region-sidebar-second {
  background-color: #FEC644;
  position: relative;
  z-index: 2;
}

aside .sidebar-bg {
  background-color: #FEC644;
  bottom: 0;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 240px;
  margin-top: -100%;
  padding-bottom: 102%;
}

#site-slogan {
  margin: 0;
  font-size: .7em;
  line-height: 1.2em;
  color: #32856b;
}

@media all and (min-width: 640px) {
  #site-slogan {
    position: relative;
    top: -40px;
  }
}

#navigation {
  border-top: 1px yellow solid;
  border-bottom: 1px yellow solid;
  height: 33px;
  width: 600px;
  margin-top: -30px;
  clear: both;
}

#navigation ul.menu li {
  float: left;
  padding: 0 10px 0 0;
  list-style-type: none;
  list-style-image: none;
}

#navigation ul.links li a {
  color: #47937b;
  text-decoration: none;
  text-transform: uppercase;
}

#navigation ul.links li a:hover {
  color: #47937b;
  text-decoration: none;
  border-bottom: 5px solid yellow;
}
